Source: python3-cyberfusion-external-providers-ip-ranges
Section: misc
Priority: optional
Maintainer: William Edwards <wedwards@cyberfusion.nl>
Build-Depends: python3-all, dh-python, debhelper (>= 10), python3-setuptools, pybuild-plugin-pyproject, python3-cyberfusion-common, python3-cyberfusion-ferm-support
Standards-Version: 4.3.0

Package: python3-cyberfusion-external-providers-ip-ranges
Architecture: all
Depends: python3, tuxis-cron, ${python3:Depends}, ${misc:Depends}
Description: Scripts to add IP ranges of external providers to ferm.
 Scripts to add IP ranges of external providers to ferm.
